body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}
